{
    "extends": [
        "@gravity-ui/eslint-config",
        "@gravity-ui/eslint-config/client",
        "@gravity-ui/eslint-config/prettier",
        "@gravity-ui/eslint-config/import-order",
        "@gravity-ui/eslint-config/a11y"
    ],
    "root": true,
    "rules": {
        "@typescript-eslint/consistent-type-imports": [
            "warn",
            {
                "prefer": "type-imports",
                "disallowTypeAnnotations": false
            }
        ],
        "@typescript-eslint/no-non-null-assertion": "warn",
        "@typescript-eslint/no-shadow": "warn",
        "import/consistent-type-specifier-style": [
            "error",
            "prefer-top-level"
        ],
        "import/no-extraneous-dependencies": "off",
        "jsx-a11y/no-autofocus": "off",
        "no-param-reassign": "warn",
        "no-restricted-syntax": [
            "error",
            {
                "selector": "ImportDeclaration[source.value='react'] :matches(ImportNamespaceSpecifier, ImportSpecifier)",
                "message": "Please use import React from 'react' instead."
            },
            {
                "selector": "TSTypeReference>TSQualifiedName[left.name='React'][right.name='FC']",
                "message": "Don't use React.FC"
            }
        ],
        "react/jsx-fragments": [
            "error",
            "element"
        ],
        "valid-jsdoc": "warn"
    },
    "overrides": [
        {
            "files": [
                "**/__tests__/**/*.[jt]s?(x)",
                "**/?(*.)+(spec|test).[jt]s?(x)"
            ],
            "env": {
                "node": true,
                "jest": true
            },
            "extends": [
                "plugin:testing-library/react"
            ],
            "rules": {
                "jsx-a11y/no-static-element-interactions": 0
            }
        },
        {
            "files": [
                "**/__stories__/**/*.[jt]s?(x)"
            ],
            "rules": {
                "no-console": "off"
            }
        },
        {
            "files": [
                "**/*.js",
                "!src/**/*"
            ],
            "env": {
                "node": true
            }
        }
    ]
}
