@use '../variables';

$block: '.#{variables.$ns}resize-handle';
$blockTable: '.#{variables.$ns}table';

#{$block} {
    position: absolute;
    inset-block-start: 0;
    height: 100%;
    width: 6px;

    opacity: 0;

    background: #d3d3d3;
    cursor: col-resize;
    user-select: none;
    touch-action: none;

    &_direction_ltr {
        inset-inline-end: 0;
    }

    &_direction_rtl {
        inset-inline-start: 0;
    }

    &_resizing {
        opacity: 1;
    }

    #{$blockTable}__header-cell:hover & {
        opacity: 1;
    }
}
