@use '../variables';

$block: '.#{variables.$ns}sort-indicator';
$blockTable: '.#{variables.$ns}table';

#{$block} {
    display: inline-flex;
    margin-inline-start: 4px;
    vertical-align: middle;
    transform: rotate(0);

    color: var(--g-color-text-hint);

    &_invisible {
        opacity: 0;

        #{$blockTable}__header-cell:hover & {
            opacity: 1;
        }
    }

    &_order_asc {
        transform: rotate(180deg);
    }
}
