@use '../variables';

$block: '.#{variables.$ns}table-settings';

#{$block} {
    &__popover-content {
        padding: var(--g-spacing-1);
    }

    &__popover-actions {
        padding: var(--g-spacing-2);
    }
}
