@use '../variables';

$block: '.#{variables.$ns}table-settings';

#{$block} {
    &__divider {
        padding: 4px 8px;
    }

    &__popover-content {
        padding: 4px;
    }

    &__popover-actions {
        padding: 8px;
    }
}
