@use '../variables';

$block: '.#{variables.$ns}draggable-row-marker';

#{$block} {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    z-index: 2;

    height: 5px;

    background: #027bf3;

    margin-inline-start: calc(var(--gc-tree-view-padding) + var(--gc-draggable-row-marker-offset));
}
