@use '../variables';

$block: '.#{variables.$ns}column-pinning-demo';

#{$block} {
    --default-border: 1px solid var(--g-color-line-generic);

    width: 600px;
    overflow: auto;

    border-inline: var(--default-border);
    border-block-end: var(--default-border);

    &__table {
        th,
        td {
            border: var(--default-border);

            padding: var(--g-spacing-1);

            box-sizing: border-box;

            background: var(--g-color-base-background);
        }

        .gt-table__header-cell_last-pinned-left,
        .gt-table__cell_last-pinned-left {
            box-shadow: var(--g-color-line-generic-active) -2px 0px 2px -2px inset;
        }

        .gt-table__header-cell_first-pinned-right,
        .gt-table__cell_first-pinned-right {
            box-shadow: var(--g-color-line-generic-active) 2px 0 2px -2px inset;
        }

        .gt-table__header-row {
            .gt-table__header-cell:first-of-type {
                border-inline-start: 0;
            }

            .gt-table__header-cell:last-of-type {
                border-inline-end: 0;
            }
        }

        .gt-table__row {
            .gt-table__cell:first-of-type {
                border-inline-start: 0;
            }

            .gt-table__cell:last-of-type {
                border-inline-end: 0;
            }
        }
    }

    &__header-cell {
        display: flex;
        flex-direction: column;

        row-gap: var(--g-spacing-2);

        button {
            margin-inline-end: var(--g-spacing-2);
        }
    }
}
