.column-reordering-with-pinning-story {
    --default-border: 1px solid var(--g-color-line-generic);

    display: flex;
    flex-direction: column;
    row-gap: var(--g-spacing-3);

    &__hint {
        color: var(--g-color-text-secondary);
    }

    &__scroll {
        width: 900px;
        overflow: auto;

        border-inline: var(--default-border);
        border-block-end: var(--default-border);
    }

    &__table {
        --gt-table-reordering-insertion-line-color: var(--g-color-line-info);

        th,
        td {
            border: var(--default-border);

            padding: var(--g-spacing-1);

            box-sizing: border-box;

            background: var(--g-color-base-background);
        }

        .gt-table__header-cell_last-pinned-left,
        .gt-table__cell_last-pinned-left {
            box-shadow: var(--g-color-line-generic-active) -2px 0 2px -2px inset;
        }

        .gt-table__header-cell_first-pinned-right,
        .gt-table__cell_first-pinned-right {
            box-shadow: var(--g-color-line-generic-active) 2px 0 2px -2px inset;
        }
    }
}
