@use '../variables';

$block: '.#{variables.$ns}table';

#{$block} {
    --gc-tree-view-padding: 0px;
    --gc-draggable-row-marker-offset: 20px;

    border-spacing: 0;
    border-collapse: separate;

    border: none;

    &__row {
        &_interactive {
            cursor: pointer;
        }
    }

    &__cell,
    &__header-cell {
        height: inherit;

        text-align: start;
    }

    &__cell {
        font-weight: normal;
    }

    &__header-cell {
        position: relative;

        font-weight: 500;

        &_sortable {
            cursor: pointer;
            user-select: none;
        }

        &:hover {
            #{$block}__resizer {
                opacity: 1;
            }
        }
    }

    &__group-title {
        position: sticky;
        inset-inline-start: 0;
        margin: 0;
    }

    &__group-title-arrow {
        display: inline-block;
        vertical-align: middle;
        transform: rotate(-90deg);
        transition: transform 0.1s ease-out;

        &_down {
            transform: rotate(0);
        }
    }

    &__group-expand-button {
        appearance: none;

        display: flex;
        gap: 8px;
        padding: 0;
        width: 100%;

        border: none;
        outline: none;
        background: inherit;
        cursor: pointer;
    }

    &__group-title-content {
        display: inline-flex;
        gap: 4px;
        font-weight: 500;
    }

    &__resizer {
        position: absolute;
        inset-block-start: 0;
        height: 100%;
        width: 6px;

        opacity: 0;

        background: #d3d3d3;
        cursor: col-resize;
        user-select: none;
        touch-action: none;

        &_direction_ltr {
            inset-inline-end: 0;
        }

        &_direction_rtl {
            inset-inline-start: 0;
        }

        &_resizing {
            opacity: 1;
        }
    }

    &_with-row-virtualization {
        display: grid;

        height: auto;
    }

    &_with-row-virtualization & {
        &__body {
            display: grid;

            position: relative;
        }

        &__header {
            display: grid;

            position: sticky;
            inset-block-start: 0;

            z-index: 1;
        }

        &__header-row {
            display: flex;

            width: 100%;
            height: auto;
        }

        &__row {
            display: flex;

            position: absolute;

            width: 100%;
            height: auto;
        }

        &__cell,
        &__header-cell {
            display: flex;
        }
    }
}
